@font-face {
    font-family: 'ARTESANIA Display';
    src: url('ARTESANIAdisplay.woff2') format('woff2'),
        url('ARTESANIAdisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

